@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AspNetCoretest.Models.Unit;

<h2>@localizer["Desktop"]</h2>
<p>
    <img src="~/Img/Desktop1.png" width="800" height="500" style="border:5px solid black" />
</p>