@using Microsoft.AspNetCore.Mvc.Localization
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AspNetCoretest.Models.Unit;

@using System.IO
@{
    string path;
    string content;
}
@{
    path = Model.sourceXamarinFile;
    content = File.ReadAllText(path);
}

<h1>@localizer["Xamarin"]</h1>
<div>
    <pre style="font-weight: bold; font-size: 18px">@content</pre>
</div>
    <a href=https://github.com/alexandergontar/RemoteMobApp
       style="font-weight: bold; font-size: 18px">
         >>@localizer["Click"]<<
    </a><br>
<div style="display:inline">
    <img src="~/Img/xam1.jpg" width="200" height="300" style="border:5px solid black" />
    <img src="~/Img/xam2.jpg" width="200" height="300" style="border:5px solid black" />
    <img src="~/Img/xam3.jpg" width="200" height="300" style="border:5px solid black" />
    <img src="~/Img/xam4.jpg" width="200" height="300" style="border:5px solid black" />
</div>
